<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/security
            http://www.springframework.org/schema/security/spring-security.xsd">
    <global-method-security secured-annotations="enabled"/>
    <!--资源放行-->

    <!--配置拦截器-->
    <http auto-config="true" use-expressions="false">
        <intercept-url pattern="/**" access="ROLE_ADMIN"/>

        <form-login
                default-target-url="/index.html"
                authentication-failure-url="/login.html"/>
        <csrf disabled="true"/>
        <!--退出-->
        <logout invalidate-session="true" logout-success-url="/login.html"/>


    </http>
    <!--认证管理器-->
    <authentication-manager>
        <authentication-provider user-service-ref="userDetailsService">
            <!--不配置加密方式-->


        </authentication-provider>
    </authentication-manager>
    <beans:bean id="userDetailsService" class="com.example.service.UserDetailServiceImpl"/>

</beans:beans>